In [1]:
data <- read.table("./data 14.1/breast-cancer-wisconsin.data.txt", header = FALSE, stringsAsFactors =FALSE,sep =",")

In [2]:
library(kernlab)

In [3]:
head(data)

  V1      V2 V3 V4 V5 V6 V7 V8 V9 V10 V11
1 1000025 5   1  1 1  2  1  3  1  1   2
2 1002945 5   4  4 5  7  10 3  2  1   2
3 1015425 3   1  1 1  2  2  3  1  1   2
4 1016277 6   8  8 1  3  4  3  7  1   2
5 1017023 4   1  1 3  2  1  3  1  1   2
6 1017122 8  10 10 8  7  10 9  7  1   4

In [4]:
# Locate the missing value
for (i in 2:11){
    print(paste0("V", i))
    print(table(data[,i]))
    }

[1] "V2"

  1   2   3   4   5   6   7   8   9  10
145  50 108  80 130  34  23  46  14  69
[1] "V3"

  1   2   3   4   5   6   7   8   9  10
384  45  52  40  30  27  19  29   6  67
[1] "V4"

  1   2   3   4   5   6   7   8   9  10
353  59  56  44  34  30  30  28   7  58
[1] "V5"

  1   2   3   4   5   6   7   8   9  10
407  58  58  33  23  22  13  25   5  55
[1] "V6"

  1   2   3   4   5   6   7   8   9  10
 47 386  72  48  39  41  12  21   2  31
[1] "V7"

  ?   1  10   2   3   4   5   6   7   8   9
 16 402 132  30  28  19  30   4   8  21   9
[1] "V8"

  1   2   3   4   5   6   7   8   9  10
152 166 165  40  34  10  73  28  11  20
[1] "V9"

  1   2   3   4   5   6   7   8   9  10
443  36  44  18  19  22  16  24  16  61
[1] "V10"

  1   2   3   4   5   6   7   8  10
579  35  33  12   6   3   9   8  14
[1] "V11"

  2   4
458 241

#### We can see V7 has 16 missing value

In [5]:
summary(data)

       V1                 V2               V3               V4
 Min.   :   61634   Min.   : 1.000   Min.   : 1.000   Min.   : 1.000
 1st Qu.:  870688   1st Qu.: 2.000   1st Qu.: 1.000   1st Qu.: 1.000
 Median : 1171710   Median : 4.000   Median : 1.000   Median : 1.000
 Mean   : 1071704   Mean   : 4.418   Mean   : 3.134   Mean   : 3.207
 3rd Qu.: 1238298   3rd Qu.: 6.000   3rd Qu.: 5.000   3rd Qu.: 5.000
 Max.   :13454352   Max.   :10.000   Max.   :10.000   Max.   :10.000
       V5               V6              V7                  V8
 Min.   : 1.000   Min.   : 1.000   Length:699         Min.   : 1.000
 1st Qu.: 1.000   1st Qu.: 2.000   Class :character   1st Qu.: 2.000
 Median : 1.000   Median : 2.000   Mode  :character   Median : 3.000
 Mean   : 2.807   Mean   : 3.216                      Mean   : 3.438
 3rd Qu.: 4.000   3rd Qu.: 4.000                      3rd Qu.: 5.000
 Max.   :10.000   Max.   :10.000                      Max.   :10.000
       V9              V10              V11
 Min.   : 1.000   Min.   : 1.000   Min.   :2.00
 1st Qu.: 1.000   1st Qu.: 1.000   1st Qu.:2.00
 Median : 1.000   Median : 1.000   Median :2.00
 Mean   : 2.867   Mean   : 1.589   Mean   :2.69
 3rd Qu.: 4.000   3rd Qu.: 1.000   3rd Qu.:4.00
 Max.   :10.000   Max.   :10.000   Max.   :4.00

#### In this dataset, the attribute V7 has missing data which is denoted by ‘?’ in the rows where it ismissing. We can find the indices of these rows using the which( )function:

In [6]:
# V7 missing data
data[which(data$V7 == "?"),]

    V1      V2 V3 V4 V5 V6 V7 V8 V9 V10 V11
24  1057013 8  4  5  1  2  ?  7   3 1   4
41  1096800 6  6  6  9  6  ?  7   8 1   2
140 1183246 1  1  1  1  1  ?  2   1 1   2
146 1184840 1  1  3  1  2  ?  2   1 1   2
159 1193683 1  1  2  1  3  ?  1   1 1   2
165 1197510 5  1  1  1  2  ?  3   1 1   2
236 1241232 3  1  4  1  2  ?  3   1 1   2
250  169356 3  1  1  1  2  ?  3   1 1   2
276  432809 3  1  3  1  2  ?  2   1 1   2
293  563649 8  8  8  1  2  ?  6  10 1   4
295  606140 1  1  1  1  2  ?  2   1 1   2
298   61634 5  4  3  1  2  ?  2   3 1   2
316  704168 4  6  5  6  7  ?  4   9 1   2
322  733639 3  1  1  1  2  ?  3   1 1   2
412 1238464 1  1  1  1  1  ?  2   1 1   2
618 1057067 1  1  1  1  1  ?  1   1 1   2

In [7]:
# Calculate the missing %
nrow(data[which(data$V7 == "?"),])/nrow(data)

[1] 0.02288984

#### Therefore, about 2.28% of the rows are missing V7

#### mean/mode imputation method

In [8]:
impdata <- which(data$V7 =="?")
impdata

 [1]  24  41 140 146 159 165 236 250 276 293 295 298 316 322 412 618

In [9]:
# Mean method
dataMeanV7 <- mean(as.numeric(data[-impdata,"V7"]))
dataMeanV7

[1] 3.544656

#### The mean value impute is 3.5446559

In [10]:
# Mode method
Mode <- function(x) {
  ux <- unique(x)
  ux[which.max(tabulate(match(x, ux)))]
}

mode_v7 <- as.numeric(Mode(data[!is.na(data$V7), 'V7']))
mode_v7

[1] 1

#### The Mode value is 1

In [11]:
data_modified <- data[-impdata, 2:10]

In [12]:
model <- lm(formula = V7 ~ V2 + V3 + V4+V5+V6+V8+V9+V10, data= data_modified)
summary(model)

Call:
lm(formula = V7 ~ V2 + V3 + V4 + V5 + V6 + V8 + V9 + V10, data = data_modified)

Residuals:
    Min      1Q  Median      3Q     Max
-9.7316 -0.9426 -0.3002  0.6725  8.6998

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) -0.616652   0.194975  -3.163  0.00163 **
V2           0.230156   0.041691   5.521 4.83e-08 ***
V3          -0.067980   0.076170  -0.892  0.37246
V4           0.340442   0.073420   4.637 4.25e-06 ***
V5           0.339705   0.045919   7.398 4.13e-13 ***
V6           0.090392   0.062541   1.445  0.14883
V8           0.320577   0.059047   5.429 7.91e-08 ***
V9           0.007293   0.044486   0.164  0.86983
V10         -0.075230   0.059331  -1.268  0.20524
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 2.274 on 674 degrees of freedom
Multiple R-squared:  0.615,	Adjusted R-squared:  0.6104
F-statistic: 134.6 on 8 and 674 DF,  p-value: < 2.2e-16

#### V2, V4, V5, and V8 are significant, so I’ll rerun the model

In [13]:
model2 <- lm(V7~V2+V4+V5+V8, data = data_modified)
summary(model2)

Call:
lm(formula = V7 ~ V2 + V4 + V5 + V8, data = data_modified)

Residuals:
    Min      1Q  Median      3Q     Max
-9.8115 -0.9531 -0.3111  0.6678  8.6889

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) -0.53601    0.17514  -3.060   0.0023 **
V2           0.22617    0.04121   5.488 5.75e-08 ***
V4           0.31729    0.05086   6.239 7.76e-10 ***
V5           0.33227    0.04431   7.499 2.03e-13 ***
V8           0.32378    0.05606   5.775 1.17e-08 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 2.274 on 678 degrees of freedom
Multiple R-squared:  0.6129,	Adjusted R-squared:  0.6107
F-statistic: 268.4 on 4 and 678 DF,  p-value: < 2.2e-16

In [14]:
V7_pred <- predict(model2, data = impdata)

### Regression imputation model for V7 show

In [15]:
pert <- rnorm(length(impdata), 0,1)
pert

 [1] -0.70291804 -0.33781420  0.67385332 -1.27025334  1.13122572 -1.02573335
 [7]  1.59333310  0.85482201 -1.83615986  0.81249917 -0.88608169 -0.82795509
[13] -1.77636296  0.73674267 -0.12553572  0.02908343

# Question 15.1

#### Inventory Management:
#### Optimizing inventory management involves ensuring that the store has the right amount of each product at the right time to meet customer demand while minimizing overstock and stockouts. This requires analyzing historical sales data, seasonality trends, and factors like promotions or marketing campaigns.

#### Data needed for inventory management optimization includes:

#### Historical sales data: To understand past demand patterns for each product.
#### Seasonality data: To account for fluctuations in demand due to seasons or holidays.
#### Lead time data: The time it takes for a product to be restocked once an order is placed.
#### Supplier information: Lead times, costs, and minimum order quantities from suppliers.
#### Sales forecasts: Predictions of future demand for each product.
#### Product Recommendation:
#### Optimizing product recommendations aims to personalize the shopping experience for each customer, increasing the likelihood of conversion and enhancing customer satisfaction. This involves recommending products that are relevant and appealing to each individual based on their preferences and behavior.

#### Data needed for product recommendation optimization includes:

#### Customer behavior data: Purchase history, browsing history, items added to cart, wishlists, etc.
#### Product attributes: Categories, sizes, colors, brands, etc.
#### Customer demographics: Age, gender, location, etc.
#### Seasonal trends and preferences: Trending styles, seasonal colors, etc.
#### Customer feedback: Reviews, ratings, and feedback on past purchases.
#### By analyzing and leveraging these datasets effectively, an online clothing store can optimize its inventory management to minimize costs and maximize sales, while also providing personalized product recommendations to enhance the shopping experience and increase customer loyalty.